<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
</head>

<body>
  {%block contents%}
  <center>
    <div>
      <form action="{%url 'register:idpasswordcheck'%}" method="POST">
        {%csrf_token%}
        {% if messages %}
        <div class="container">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message.message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <h4>ID </h4>
        <input type="text" name="id" placeholder="Please insert to your ID">
        <br>
        <h4>Password </h4>
        <input type="password" name="password" placeholder="Please insert to your Password">
        <br>
        <h4>Password Configuration </h4>
        <input type="password" name="passwordconfig" placeholder="Please insert one more Password">
        <br>
        <h4>First name </h4>
        <input type="text" name="firstname" placeholder="Please insert to your First name">
        <br>
        <h4>Last name </h4>
        <input type="text" name="lastname" placeholder="Please insert to your Last name">
        <br>
        <h4>E-mail </h4>
        <input type="text" name="email" placeholder="Please insert to your E-mail">
        <br><br><br>
        <input type="submit" class="btn btn-primary" value="Sign in">
      </form>
      <button type="button" name="rewrite">Rewrite</button>
    </div>
  </center>

  {%endblock %}


</body>

</html>
