<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>

<body>
  {%block contents%}
  <div class="container">
    <center>
      <form action="{%url 'logincheck'%}" , method="POST">
        {% csrf_token %}
        <h3>Login Function (Freez)</h3>
        <br>
        <h3>Id </h3>
        <h5><input type="text" name="id"></h5>
        <h3>Password </h3>
        <h5><input type="password" name="password"></h5>
        <br>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message.message }}
        </div>
        {% endfor %}

        <h2>
          <input type="submit" class="btn btn-primary" value="Login" id="login">
        </h2>
      </form>
      <input type="submit" value="Register" id="register" onclick="location.href = 'regist'">
    </center>
  </div>
  {%endblock%}
</body>

</html>
